.bg-dark {
  background: var(--dark-black);
}

.swiper-container {
  max-width: 840px !important;
}

.swiper-custom-container {
  max-width: 840px !important;
  overflow: hidden !important;

}

.mb-deploy {
  margin-bottom: 50px;
}

.select-para {
  max-width: 550px;
}

.swiper-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
  border: 0.6px solid;
  max-width: 768px;
  margin: 0 auto 40px auto;
  border-image-source: linear-gradient(135.38deg, rgba(255, 255, 255, 0.6) 0.59%, rgba(255, 255, 255, 0) 99.41%);
}

.step {
  width: 96px;
  height: 88px;
  background-color: #333 !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 color: #978143 !important;
    border: 1px solid #978143;
    background: #000 !important ;
      z-index: 3;
}


.steps-container .active {
  background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%) !important;
  color: black !important;
  -webkit-text-fill-color: black;
}
.step-line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  border: 2px solid #D2AC47;
  background: #D2AC47;
  z-index: 2;
  left: 0;
  overflow: hidden;
}


.step-line-fill {
  height: 100%;
  width: 0;
  background: #D2AC47;
  transition: width 0.5s ease, background 0.5s ease;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-pagination-bullet-active {
  background-color: #F5C045;
}

.swipe-card {
  border-radius: 18px;
  background: linear-gradient(315.97deg, rgba(255, 255, 255, 0) 1.86%, rgba(255, 255, 255, 0.1) 99.45%);
  backdrop-filter: blur(20px);
  height: 397px;
  width: 838px;
  padding: 40px;
}
.swipe-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 18px;
  padding: 1px;
  background: linear-gradient(135.38deg, rgba(255, 255, 255, 0.1) 0.59%, rgba(255, 255, 255, 0) 99.41%);
  -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 0;
}


.lock-size {
  height: 185px !important;
  width: 185px !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0 !important;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-active-slide {
  padding-top: 70px;
  padding-bottom: 70px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -7% !important;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 26px !important;
  height: 15px !important;
  border-radius: 12px !important;
  border: 1px solid #AE8625 !important;
  opacity: 1 !important;

  background: linear-gradient(90deg, rgba(174, 134, 37, 0.2) 0%, rgba(247, 239, 138, 0.2) 33.73%, rgba(210, 172, 71, 0.2) 72.49%, rgba(237, 201, 103, 0.2) 100%) !important;

}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 65px !important;
  height: 15px !important;
  background: #D2AC47 !important;
  border-radius: 12px !important;
  border: 0px solid #AE8625 !important;

}

.pointer-none{
  pointer-events: none !important;
}


/* footer */
.footer-logo{
  width: 53px;
  height: 53px;
}
.footer-para{
  max-width: 320px;
}
.underline-hover:hover {
  opacity: 1;
  color: white;
}

.underline-hover {
  position: relative;
  display: inline-block;
}

.underline-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.py-copyright{
  padding-top: 22px;
  padding-bottom: 22px;
}
.footer-whiteline{
  border: 1px solid;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 10.42%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 89.59%);
  }
  .footer-spacing{
    padding-top: 50px;
    padding-bottom: 53px;
  }
  .social-icon:hover{
    transform: translateY(-15%);
  }
  .social-icon{
    transition: all 300ms linear;
  }
  .bg-footer{
    background-image: url('../images/png/footer-layer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2040px;
    margin: 0 auto;
  }
  .pt-footer{
    margin-top: -2px;
    padding-top: 280px;
  }
  .slide-bg-layer{

  }
@media (max-width:1592px) {
  .pt-footer{
    padding-top: 100px;
  }
}

@media (max-width:768px) {
  .pt-footer{
    padding-top: 60px;
  }
  .mb-deploy {
    margin-bottom: 25px;
  }
  .steps-container {
    margin: 0 auto 20px auto;
  }
  
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 22px !important;
    height: 13px !important;
  }
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    width: 55px !important;
    height: 14px !important;
  }
}

@media (max-width:576px) {
  .pt-footer{
    padding-top: 50px;
    margin-top: -20px;
  }
  .slide-ellip{
    width: 100%;
  }
  .steps-container .step {
    width: 72px;
    height: 68px;
  }

  .lock-size {
    height: 125px !important;
    width: 125px !important;
  }

  .swipe-card {
    height: 100%;
    width: 100%;
    max-width: 838px;
    min-height: 310px;
    padding: 25px;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -6% !important;
  }

}