@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: Lucida;
    src: url("/assets/fonts/lucida-sans/l_10646.ttf");
    font-display: swap;
}

.ff-lucida {
    font-family: "Lucida", sans-serif;
}

.container {
    max-width: 100% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.gap-10 {
    gap: 10px;
}

.hero-bg {
    background-image: url(../images/webp/hero-bg.webp);
    background-size: 100% 100%;
    background-position: center;
}

.nav-modification {
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 10.42%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 89.59%)1;
    background: var(--faint-white);
    backdrop-filter: blur(7px)
}

.nav-py {
    padding-top: 23px;
    padding-bottom: 23px;
}

.nav-gap {
    gap: 134px;
}

.language-btn {
    border: 1px solid var(--semi-transparent-white);
    backdrop-filter: blur(20px);
    background: var(--light-white);
    border-radius: 119px;
    padding: 8px 12px;
    cursor: pointer;
}

.nav-items {
    position: relative;
    color: var(--light-gray);
    transition: all 300ms linear;
}

.nav-items::after {
    position: absolute;
    content: "";
    bottom: -15%;
    left: 50%;
    width: 0;
    height: 1.2px;
    background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
    transition: all 0.3s linear;
    transform: translateX(-50%);
}

.nav-items:hover::after {
    width: 100%;
    right: 0;
}

.nav-items:hover {
    color: var(--dark-gold);
}

.nav-btn {
    padding: 15px 28px;
    border: 1px solid var(--white-smoke);
    background: transparent;
    border-radius: 57px;
    transition: all 300ms ease;
    position: relative;
    overflow: hidden;
    color: var(--white-smoke);
    z-index: 1;
}

.nav-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: -1 !important;
    border-radius: 4px;
    pointer-events: none;
}

.nav-btn:hover::before {
    transform: translateX(0);
}

.nav-btn:hover {
    color: black !important;
    border: 1px solid transparent;
    background: transparent;
}

/* hero */
.hero-padding {
    padding-top: 37px;
    padding-bottom: 133px;
}

.max-w-817 {
    max-width: 817px;
}

.object-position-top {
    object-position: top;
}

.secure-text {
    position: relative;
    max-width: fit-content;
    padding: 10px 16px;
    background: linear-gradient(90deg, rgba(174, 134, 37, 0.05) 0%, rgba(247, 239, 138, 0.05) 33.73%, rgba(210, 172, 71, 0.05) 72.49%, rgba(237, 201, 103, 0.05) 100%);
    backdrop-filter: blur(20px);
    margin-bottom: 10px;
    border-radius: 9999px;
}

.secure-text::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 26px;
    padding: 1px;
    background: linear-gradient(90deg, rgba(174, 134, 37, 0.4) 0%, rgba(247, 239, 138, 0.4) 33.73%, rgba(210, 172, 71, 0.4) 72.49%, rgba(237, 201, 103, 0.4) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.gradient-text {
    background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.common-btn {
    background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%)border-box;
    padding: 9px 17px;
    border-radius: 57px;
    border: 1px solid transparent;
    transition: all 300ms ease;
    position: relative;
    overflow: hidden;
    color: var(--dark-black);
    z-index: 1;
}

.common-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: -1 !important;
    border-radius: 0px;
    pointer-events: none;
}

.common-btn:hover::before {
    transition: transform 0.4s ease;
    transform: translateX(0);
}

.common-btn:hover {
    color: var(--dark-gold) !important;
    border: 1px solid var(--dark-gold);
}

.dashboard-image {
    max-width: 320px;
    height: auto;
    border-radius: 19px;
}

.hero-left-ellipse-pos {
    top: 30%;
    left: 0;
}

.hero-right-ellipse-pos {
    top: 22%;
    right: 0;
}

.ellipse-opacity {
    opacity: 30%;
}

.hero-btn-mb {
    margin-bottom: 29px;
}

.z-99 {
    z-index: 99;
}


.dropdown-modification {
    background: black;
    border: 1px solid var(--dark-gold);
    width: 105px;
    border-radius: 5px;
    opacity: 0;
    position: relative;
    z-index: -1;
}

.dropdown-position {
    top: 50px;
    left: 6px;
}

#btn.active.dropdown-modification {
    opacity: 1;
    z-index: 1;
    position: relative;
}

.dropdown-option {
    padding: 5px;
}

.dropdown-position .dropdown-option:hover {
    color: var(--dark-gold);
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.hero-ellipse-modification {
    width: 316px;
    height: 316px;
    opacity: 26%;
    filter: blur(128px);
    background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
    bottom: 0;
    left: 0;
}

.nav-ellipse-modification {
    width: 361px;
    height: 361px;
    opacity: 20%;
    filter: blur(128px);
    background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
    top: 0;
    left: 0;
}

/* price-package   */
.position-price-ellipse {
    top: 53px;
    right: -83px;
    z-index: 0;
}

.pricing-package-spacing {
    gap: 14px;
    margin-bottom: 12px;
}

.amount-mb {
    margin-bottom: 10px;
}

.basic-btn-mt {
    margin-top: 20px;
}

.pro-btn-mt {
    margin-top: 15px;
}

.enterprise-btn-mt {
    margin-top: 16px;
}

.small-sc-padding {
    padding: 20px 16px;
}

.min-h-448 {
    min-height: 488px;
}

.pricing-para-pb {
    padding-bottom: 25px;
}

.price-package-card {
    overflow: hidden;
    max-width: 364px;
    height: auto;
    /* padding: 25px 25px 39px 25px; */
    border-radius: 18px;
    background: linear-gradient(315.97deg, rgba(255, 255, 255, 0) 1.86%, rgba(255, 255, 255, 0.1) 99.45%);
    backdrop-filter: blur(20px);
    transition: height 0.3s ease, z-index 0s;
    position: relative;
}

.price-package-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px;
    padding: 1px;
    background: linear-gradient(135.38deg, rgba(255, 255, 255, 0.1) 0.59%, rgba(255, 255, 255, 0) 99.41%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

.price-package-card:hover::before {
    background: linear-gradient(135.38deg, rgba(255, 255, 255, 0.6) 0.59%, rgba(255, 255, 255, 0) 99.41%);
}

.position-popular {
    top: -44px;
    right: -43px;
}


/* Supported Cloud Providers */
.section-spacing {
    padding-top: 28px;
    padding-bottom: 28px;
}

.common-heading {
    font-size: var(--fs-3xxl);
    font-weight: 400;
    line-height: 120%;
    color: var(--white-smoke);
}

.common-para {
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 150%;
    color: var(--light-gray);
}

.para-pb {
    padding-bottom: 25px;
}

.cloud-provider-box {
    position: relative;
    max-width: 214px;
    width: 100%;
    height: 100px;
    border-radius: 18px;
    background: linear-gradient(315.97deg, rgba(255, 255, 255, 0) 1.86%, rgba(255, 255, 255, 0.1) 99.45%);
    transition: all 300ms linear;
}

.cloud-provider-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px;
    padding: 1px;
    background: linear-gradient(135.38deg, rgba(255, 255, 255, 0.1) 0.59%, rgba(255, 255, 255, 0) 99.41%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

.cloud-provider-box:hover::before {
    transition: all 300ms linear;
    background: linear-gradient(135.38deg, rgba(255, 255, 255, 0.6) 0.59%, rgba(255, 255, 255, 0) 99.41%);
}

.cloud-provider-box-gap {
    gap: 30px;
}

.cloud-provider-ellipse {
    width: 361px;
    height: 361px;
    background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
    opacity: 18%;
    filter: blur(126px);
}

.position-cloud-ellipse {
    bottom: -101px;
    left: -200px;
}

/* =======================who we are================= */
.position-bg-ellipse {
    top: 2%;
    right: 0;
}

.negative-margin {
    margin-top: -3px;
}

.position-who-we-ellipse1 {
    top: 0;
    right: -12%;
    opacity: 17%;
}

.position-who-we-ellipse2 {
    bottom: 0;
    left: -12%;
    opacity: 17%;
}

.who-we-ellipse {
    width: 361px;
    height: 361px;
    background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
    filter: blur(111px);
}

.user-ratio-box {
    border-radius: 10px;
    max-width: 436px;
    padding: 20px;
    background: linear-gradient(315.97deg, rgba(255, 255, 255, 0) 1.86%, rgba(255, 255, 255, 0.1) 99.45%);
}

.user-ratio-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(135.38deg, rgba(255, 255, 255, 0.2) 0.59%, rgba(255, 255, 255, 0) 99.41%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
    z-index: -1;
}

.user-padding {
    margin-top: -25px;
    padding-bottom: 34px;
}

.ratio-img-position {
    left: 184px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.user-border-bottom {
    border: 0.51px solid var(--medium-gray);
    margin: 12px 0;
}

.empowering-box-modification {
    border-radius: 18px;
    padding: 15px;
    background: linear-gradient(315.97deg, rgba(255, 255, 255, 0) 1.86%, rgba(255, 255, 255, 0.1) 99.45%);
    backdrop-filter: blur(20px)
}

.empowering-box-modification::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px;
    padding: 1px;
    background: linear-gradient(135.38deg, rgba(255, 255, 255, 0.6) 0.59%, rgba(255, 255, 255, 0) 99.41%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
    z-index: -1;
}

.user-ratio-image {
    max-width: 150px
}

/* mission-statement */
.tik-size {
    width: 15px;
    height: 15px;
}

.gap-10 {
    gap: 10px;
}

.mission-statement-img {
    max-width: 300px;
    height: 249px;
}

.green-text-modification {
    height: 14px;
    padding: 2px 3px;
    max-width: fit-content;
    border: 0.47px solid var(--light-green);
    border-radius: 1.57px;
}

.mission-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.customer-type-spacing {
    gap: 10px;
    margin-bottom: 25px;
}

.statement-box {
    border-radius: 18px;
    padding: 20px;
    background: linear-gradient(315.97deg, rgba(255, 255, 255, 0) 1.86%, rgba(255, 255, 255, 0.1) 99.45%);
    backdrop-filter: blur(20px);
    margin-top: 30px;
}

.statement-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px;
    padding: 1px;
    background: linear-gradient(135.38deg, rgba(255, 255, 255, 0.1) 0.59%, rgba(255, 255, 255, 0) 99.41%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
    z-index: -1;
}

.mission-btn-mt {
    margin-top: 35px;
}

.mission-statement-gap {
    gap: 11px;
}

.cloud-image {
    max-width: 85px;
}

.cloud-image2 {
    max-width: 135px;
}

.cloud-image3 {
    max-width: 100px;

}

@media (max-width: 991.5px) {
    .price-package-card:hover {
        transform: scale(1.05);
        z-index: 1;
    }

    .center-text {
        text-align: center;
    }

    .mission-statement-img {
        margin: 0 auto;
    }

    .price-package-card {
        transition: transform 0.3s ease;
        transform-origin: center;
    }

    .menu {
        position: relative;
        z-index: 100;
        cursor: pointer;
    }

    .mobile-view {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 99;
        transition: all 300ms linear;
        background-color: black;
    }

    .overflow-hide {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        width: 40px;
        height: 4px;
        display: block;
        border-radius: 5px;
        background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
        transition: all 300ms linear;
    }

    .menu span:nth-child(2) {
        width: 40px;
        height: 4px;
        display: block;
        border-radius: 5px;
        background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
        transition: all 300ms linear;
    }

    .menu span:nth-child(3) {
        width: 40px;
        height: 4px;
        display: block;
        border-radius: 5px;
        background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
        transition: all 300ms linear;
    }

    .cross span:nth-child(1) {
        transition: all 300ms linear;
        transform: rotate(44deg) translateY(13px) translateX(2px);
        background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        transition: all 300ms linear;
        opacity: 0;
        background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
    }

    .cross span:nth-child(3) {
        transition: all 300ms linear;
        transform: rotate(-45deg) translateY(-14px) translateX(4px);
        background: linear-gradient(90deg, #AE8625 0%, #F7EF8A 33.73%, #D2AC47 72.49%, #EDC967 100%);
    }

}

@media (min-width:576px) {

    .section-spacing {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .dashboard-image {
        max-width: 600px;
        height: auto;
    }

    .hero-btn-mb {
        margin-bottom: 53px;
    }

    .common-btn {
        padding: 12px 28px;
    }

    .hero-padding {
        padding-top: 69px;
    }

    .empowering-box-modification {
        padding: 30px;
    }

    .statement-box {
        padding: 30px;
    }
}


@media (min-width:768px) {
    .container {
        max-width: 1180px !important;
    }

    .section-spacing {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .cloud-provider-box {
        max-width: 267px;
        height: 121px;
    }

    .cloud-image {
        max-width: 131px;
    }

    .cloud-image2 {
        max-width: 213px;
    }

    .cloud-image3 {
        max-width: 148px;
    }

    .mission-statement-img {
        max-width: 477px;
    }

    .tik-size {
        width: 26px;
        height: 26px;
    }

    .basic-btn-mt {
        margin-top: 78px;
    }

}

@media (min-width:992px) {
    .section-spacing {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .para-pb {
        padding-bottom: 35px;
    }

    .hero-btn-mb {
        margin-bottom: 81px;
    }

    .hero-padding {
        padding-top: 110px;
    }

    .dashboard-image {
        max-width: 970px;
        height: 529px;
    }

    .cloud-box-gap {
        gap: 55px;
    }

    .w-lg-45 {
        width: 45%;
    }

    .w-lg-55 {
        width: 55%;
    }

    .w-lg-48 {
        width: 48%;
    }

    .w-lg-50 {
        width: 50%;
    }

    .max-w-536 {
        max-width: 536px;
    }

    .max-w-523 {
        max-width: 523px;
    }

    .max-w-539 {
        max-width: 539px;
    }

    .max-w-497 {
        max-width: 497px;
    }

    .customer-type-spacing {
        gap: 25px;
        margin-bottom: 25px;
    }

    .empowering-box-modification {
        padding: 30px 45px;
    }

    .statement-box {
        padding: 55px 39px 55px 36px;
    }

    .user-ratio-box {
        padding: 38px 31px 32px;
    }

    .user-ratio-image {
        max-width: 213px;
    }

    .user-padding {
        margin-top: -42px;
        padding-bottom: 50px;
    }

    .mission-btn-mt {
        margin-top: 50px;
    }

    .basic-btn-mt {
        margin-top: 85px;
    }

    .amount-mb {
        margin-bottom: 30px;
    }

    .price-package-card {
        height: 422px;
    }

    .basic-padding {
        padding: 25px 25px 39px 25px;
    }

    .pro-padding {
        padding: 25px 25px 37px;
    }

    .enterprise-padding {
        padding: 25px 25px 37px;
    }

    .pricing-para-pb {
        padding-bottom: 35px;
    }

    .price-package-card:hover {
        height: 448px;
        z-index: 1;
    }
}

@media (min-width: 1200px) {
    .section-spacing {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .hero-left-ellipse-pos {
        top: 40%;
        left: 0;
    }

    .ellipse-opacity {
        opacity: 100%;
    }

    .mission-statement-gap {
        gap: 0;
    }

    .para-pb {
        padding-bottom: 50px;
    }

    .pricing-para-pb {
        padding-bottom: 40px;
    }
}

@media (min-width:1400px) {
    .section-spacing {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}